:root {
	--grid-cols: 1;
	--grid-rows: 1;
	--colorPicked: #000000;
}

body {
	background-color: gainsboro;
}

#container {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item,
#container {
	padding: 1em;
	border: 1px solid darkred;
	text-align: center;
}