html{
	background-color: gainsboro;
}

body{
	text-align: center;
}

header{
	font-size: 25px;
	color: darkred;
	margin: 5px;

}
.scores-container{
display: flex;
justify-content: center;

}

.selections{
font-size: 20px;
font-weight: bold;
color: darkred;
}

.score-box{
	padding-left: 15px;
	padding-right: 15px;
}

.btn{
	width: 125px;
	border-color: transparent;
	border-radius: 5px;
	border-width: 1px;
	background-color: darkred;

}

.sign{
	font-size: xx-large;
	color: gainsboro;
}

.hide{
	display: none;
}

#playerLabel {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI';
	color: darkred;
	padding-left: 15px;
	padding-right: 15px;
}

#computerLabel {
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	font-family: 'Segoe UI';
	color: darkred;
	padding-left: 20px;
	padding-right: 5px;
}

scores {
	display: flex;
	flex-direction: row;
}

.score {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	border: 5px solid darkred;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 20px;
}