body {
    background-color: gainsboro;
}

.calculator {
    width: 450px;
    margin: auto;
    margin-top: 10%;
    background-color: black;
    display: grid;
    border-radius: 10px;
}

.screen {
    margin: 20px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

.buttons {
    background-color: black;
    margin: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px 1px;
    border: 1px solid black;
    height: 420px;
}

.buttons>button {
    font-size: 20px;
}

